.container{
  width: 100%;
  mat-toolbar{
    display: flex;
    justify-content: space-between;
    h2{
      margin: 0;
    }

    .btns{
      display: flex;
      font-size: 1rem;
      .btn{
        padding: 0.2rem;
        margin: 0 0.2rem;
        cursor: pointer;
      }
    }
  }
}
