.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    mat-card{

      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      mat-form-field{
        width: 80%;
      }
    }
    .title{
      font-weight: 500;
      color: indigo;
      margin: 0.5rem 0;
    }
  }
}
